<!--this is a cheat, I tried to do it using a modal like the about section, ask me (Omar) if you run into any problems - change the cheat #-->
<a target="blank" data-toggle="modal" data-target="#cheat11" href="#">+ Click here for Cheat</a>
<div class="modal fade" id="cheat11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title" id="myModalLabel">cheat </h3>
      </div>
      <div class="modal-body">
				<div class="row">
					{{ include.text }}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--end cheat -->
