<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top" id="ltraci-navbar" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">

				<a href={{ "/" | relative_url }} class="navbar-brand"><div class="pn-noncollapse">Becoming a Hacker</div></a>

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar navbar-inverse"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">


					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu<span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-3" role="menu" style="font-size:.7em;">
							<div class="row">
								<div class="col-sm-3">
									<ul class="multi-column-dropdown">
									<li class="dropdown-header">Module 1</li>
										<li>
											<a href="#">No labs</a>
										</li>
									</ul>
								</div>

								<div class="col-sm-3">
									<ul class="multi-column-dropdown">
									<li class="dropdown-header">Module 2</li>
										<li>
											<a href={{ "/modules/2" | relative_url }}>Passive Reconnissaince</a>
										</li>
									</ul>
								</div>

								<div class="col-sm-3">
									<ul class="multi-column-dropdown">
									<li class="dropdown-header">Module 3</li>
										<li>
											<a href={{ "/modules/3" | relative_url }}>Active Reconnissaince</a>
										</li>
									</ul>
								</div>

								<div class="col-sm-3">
									<ul class="multi-column-dropdown">
									<li class="dropdown-header">Module 4</li>
										<li>
											<a href={{ "/modules/4" | relative_url }}>Networking</a>
										</li>
									</ul>
								</div>

								<div class="col-sm-3">
									<ul class="multi-column-dropdown">
									<li class="dropdown-header">Module 5</li>
										<li>
											<a href={{ "/modules/5" | relative_url }}>Wireless</a>
										</li>
									</ul>
								</div>

								<div class="col-sm-3">
									<ul class="multi-column-dropdown">
									<li class="dropdown-header">Module 6</li>
										<li>
											<a href={{ "/modules/6" | relative_url }}>Web Applications</a>
										</li>
									</ul>
								</div>

								<div class="col-sm-3">
									<ul class="multi-column-dropdown">
									<li class="dropdown-header">Module 7</li>
										<li>
											<a href={{ "/modules/7" | relative_url }}>Accounts and Passwords</a>
										</li>
									</ul>
								</div>

								<div class="col-sm-3">
									<ul class="multi-column-dropdown">
									<li class="dropdown-header">Module 8</li>
										<li>
											<a href={{ "/modules/8" | relative_url }}>Overflows</a>
										</li>
									</ul>
								</div>

							</div>
						</ul>
					</li>

					<li class="ciscoliveitem"><a target="blank" href={{"/resources.html" | relative_url }}>Resources</a></li>
			<li class="ciscoliveitem"><a target="blank" data-toggle="modal" data-target="#ABOUT" href="#">About</a></li>

				</ul>

			</div><!-- /.navbar-collapse  width="30px" -->
		</div><!-- /.container-fluid -->
	</nav>
</div>


<div class="modal fade" id="ABOUT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h3 class="modal-title" id="myModalLabel">Becoming a Hacker Training</h3>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<img src={{ "/os_files/hacker.png" | relative_url}} class="img-responsive">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
						<p>The purpose of this lab is to provide the student a better understanding of offensive security.</p>
						<p>Navigate to the <a href={{ "/resources.html" | relative_url }}> Resources </a> page to obtain the presentations used in this class, as well as other resources on how to build your own lab.</p>
					</div>
				</div>

				<div class="row" style="margin-top:20px;">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<strong>Chris McCoy</strong><br>Hacker, ASIG<br>cmm@cisco.com<br>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<strong>Everett Stiles</strong><br>Hacker, ASIG<br>estiles@cisco.com<br>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<strong>Omar Ωr Santos</strong><br>Peasant, PSIRT<br>os@cisco.com<br>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
