	<div class="nextsection">
			<div style="float:left; font-size: .9em;">

			</div>
			<div style="float:right; font-size: .9em;">

							<div class="btn-group">
									<button type="button" class="btn btn-md btn-success" onclick="window.location.href=&#39;module4.html&#39;">Next: Module 4</button>
									<button type="button" class="btn btn-md btn-success" onclick="window.location.href=&#39;/module4.html&#39;">
													<span class="glyphicon glyphicon-chevron-right" style="color:white;" aria-hidden="true"></span>
									</button>
							</div>

			</div>
	</div>
